* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root {
    --dark: #0b090b;
    --light-dark: #141011;
    --light: #f2eee9;
    --brown: #7e655e;
    --light-brown: #a98378;
}
/* mark borders */
.border {
    border: 1px solid red;
}
.border-2 {
    border: 1px solid blue;
}
/* ------------- */
body {
    width: 100%;
    height: 100%;
    background: var(--light);
    color: var(--dark);
}
header {
    height: 6rem;
    border-bottom: 1px solid var(--light-brown);
}
nav {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    font-size: 2rem;
    font-weight: 200;
    cursor: pointer;
}
#logo:hover {
    color: var(--light-brown);
}
nav ul {
    display: flex;
}
nav ul li {
    transition: all 300ms ease;
    cursor: pointer;
    font-weight: 400;
    margin-left: 4rem;
}
nav ul li:hover {
    letter-spacing: 0.1rem;
    color: var(--brown);
}
a {
    color: inherit;
}
a:active {
    transition: all 300ms ease;
    color: var(--brown);
    letter-spacing: 0.2rem;
}
article {
    padding-top: 1.5rem;
}
#main {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content { 
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 3.5rem;
}
.main-content h1 {
    color: var(--light-dark);
    letter-spacing: 0.5rem;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 0 0 1px var(--light-dark);
}
.main-content h2 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    letter-spacing: 0.2rem;
    font-weight: 200;
}
.main-content p {
    color: var(--light-dark);
}
#buttons {
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn {
    background: transparent;
    border: 1px solid var(--light-dark);
    border-radius: 30px;
    padding: 0.6rem 1.2rem;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 0 0.1rem var(--light-dark);
    transition: all 300ms ease;
}
#about {
    background: var(--light-dark);
    color: var(--light);
}
.btn:hover {
    background: var(--light-dark);
    color: var(--light);
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
}
.btn:active {
    background: transparent;
    color: var(--light-dark);
    transform: translateY(0.5rem);
    letter-spacing: 0.2rem;
}
#img {
    width: 500px;
    border-radius: 50%;
    margin-right: 4rem;
}

.introduce-yourself {
    background: linear-gradient(var(--light),var(--light-brown));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    height: 27rem;
}
.avatar {
    width: 9rem;
    border-radius: 100%;
}
.card {
    width: 16rem;
    padding: 1rem;
    display: block;
    text-align: center;
    background: #f8f9fa;
    color: #2b2839;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 300ms ease;
    box-shadow: 0px 0px 2px var(--light);
}
.card-contents {
    margin-top: 2rem;
    margin-bottom: 4rem;
} 

.card-content h3 {
    font-size: 1.3rem;
    font-weight: bolder;
    color: #212529;
}
.card-content p {
    font-size: 1.2rem;
    color: #495057;
}
.card-content h4 {
    color: #343A40;
}
.card:hover { 
    transform: translateY(-1rem);
    letter-spacing: 0.2rem;
    padding: 2rem; 
    box-shadow: 0 0 0.5rem var(--light-dark);
}

@media only screen and (max-width: 960px) {
    body {
        overflow-x: hidden;
    }
    #img {
        width: 400px;
    }
}
@media only screen and (max-width: 730px) {
    body {
        overflow-x: hidden;
    }
    header {
        transition: all 300ms ease;
        background: var(--brown);
        color: var(--light);
        height: 4rem;
    }
    article {
        padding-top: 3rem;
    }
    nav ul{
        display: none;
    }
    nav {
        justify-content: center;
    }
    #main {
        display: block;
    }
    .image {
        margin-top: 3rem;
    }
    #img {
        display: inherit;
        margin: 0 auto;
        width: 300px;
    }
}


